{% extends "main/base.html" %}

{% block title %}
View List
{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ls.name}}</h1>
        <form method="POST" action="#">
            {% csrf_token %}
            <ul>
            {% for item in ls.item_set.all %}
                {% if item.completed == True %}
                    <li><input type="checkbox", name="c{{item.id}}", value="clicked", checked>{{item.text}} - COMPLETE</li>
                {% else %}
                    <li><input type="checkbox", name="c{{item.id}}" value="clicked">{{item.text}} - INCOMPLETE</li>
                {% endif %}
            {% endfor %}
            </ul>
            <button type="submit", name="save", value="save">
                Save
            </button>
            <input type="text", name="new">
            <button type="submit", name="newItem", value="newItem">
                Add Item
            </button>
        </form>
    </div>
{% endblock %}
