{% extends "main/base.html" %}

{% block title %}
View List
{% endblock %}
{% block content %}
    <form method="POST" action="#">
        {% csrf_token %}
        <h3>{{ls.name}}</h3>
        {% for item in ls.item_set.all %}
        <div class="input-group mb-3">
            <div class="input-group-text">
                {% if item.completed == True %}
                    <input type="checkbox" name="c{{item.id}}" value="clicked" checked>
                {% else %}
                    <input type="checkbox" name="c{{item.id}}" value="clicked">
                {% endif %}
            </div>
            <input type="text" value="{{item.text}}" class="form-control">
        </div>
        {% endfor %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-success" type="submit" name="newItem" value="newItem"> Add Item</button>
            </div>
            <input type="text" name="new">
        </div>
        <button class="btn btn-success" name="save" value="save">
            Save Changes
        </button>
    </form>
{% endblock %}
